# Exclude virtual environments
.venv

# Exclude IDE configurations
.idea
.vscode

# Exclude Python cache files
__pycache__/
*.py[oc]

# Exclude build artifacts
build/
dist/
*.egg-info

# Exclude data files
data/*
